body {
  background-color: #000000;
  text-align: center;
  font-family: Verdana,Geneva,sans-serif;
}

/*HEADINGS*/
.first_heading {
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.second_heading {
  font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

.sub_header {
  font-size: 21px;
  color: gray;
}

/*LINKS*/
.link_cta {
  color: aquamarine;
  font-size: 16px;
}

.d_video {
  background-color: black;
  text-align: center;
}


.fter {
  text-align: right;
  color: gray;
}
